appdirs==1.4.4
boto3==1.14.38
botocore==1.17.38
cfgv==3.2.0
distlib==0.3.1
docutils==0.15.2
filelock==3.0.12
identify==1.4.26
jmespath==0.10.0
nodeenv==1.4.0
numpy==1.19.1
pandas==1.1.0
pre-commit==2.6.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
s3transfer==0.3.3
six==1.15.0
toml==0.10.1
urllib3==1.25.10
virtualenv==20.0.30
